<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mushrooms</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Mushrooms Collection</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Class</th>
          <th>Habitat</th>
          <th>Season</th>
        </tr>
      </thead>
      <tbody>
        <% mushrooms.forEach(mushroom => { %>
          <tr>
            <td><%= mushroom.class %></td>
            <td><%= mushroom.habitat %></td>
            <td><%= mushroom.season %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>